packages/*.*
*.pdb
*/obj/Debug/*.*
*/obj/Release/*.*
*/obj/.cache/*.*
*.inter
*.dnk
*/bin/Release/*.*
*/bin/Debug/*.*
*/obj/xdoc/cache/final/*.*
*/obj/xdoc/cache/obj/*.*
OrpheusInterfaces/obj/xdoc/cache/final/49638433
OrpheusCore/Nuget/nuget.exe
*.nupkg
OrpheusCore/OrpheusCore.config
*.mdf
*.ldf
*.log
*.suo
*.ide
OrpheusDocumentation/_site/
OrpheusDocumentation/DocFx
OrpheusDocumentation/obj
OrpheusDocumentation/examples
OrpheusAttributes/obj
OrpheusCore/obj
OrpheusInterfaces/obj
OrpheusLogger/obj
OrpheusMySQLDDLHelper/obj
OrpheusSQLServerDDLHelper/obj
OrpheusTestModels/obj
OrpheusTests/obj
OrpheusTestsBenchMark/obj
OrpheusTestsBenchMark/BenchmarkDotnet.Artifacts
OrpheusTests/OrpheusMySQL.config
OrpheusTests/OrpheusMySQL.config
OrpheusTests/OrpheusSQLServer.config
Nuget/2.0.0/*.*
.vs/config/applicationhost.config
*.dll
Nuget/2.0.0/lib/netstandard2.0/OrpheusAttributes.xml
Nuget/2.0.0/lib/netstandard2.0/OrpheusCore.xml
Nuget/2.0.0/lib/netstandard2.0/OrpheusInterfaces.xml
Nuget/2.0.0/lib/netstandard2.0/OrpheusLogger.xml
Nuget/2.0.0/lib/netstandard2.0/OrpheusMySQLDDLHelper.xml
Nuget/2.0.0/lib/netstandard2.0/OrpheusSQLServerDDLHelper.xml
OrpheusWebClientTest/ScaffoldingReadMe.txt
*.vssscc
Nuget/PublishPackage.cmd
OrpheusTests/BaseTests/TestDatabase.cs
