<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="orpheusLogging" type="OrpheusLogger.OrpheusLoggerConfiguration, OrpheusLogger" />
  </configSections>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <orpheusLogging level="Debug">
    
  </orpheusLogging>
</configuration>