<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unityx">
    <assembly name="System.Data,4.0.0.0 ,Culture=neutral,PublicKeyToken=b77a5c561934e089"/>

    <alias alias="IDbConnection" type="System.Data.IDbConnection, System.Data"/>
    <alias alias="MySqlConnection" type="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"/>

    <alias alias="IOrpheusDatabase" type="OrpheusInterfaces.IOrpheusDatabase, OrpheusInterfaces"/>
    <alias alias="OrpheusDatabase" type="OrpheusCore.OrpheusDatabase, OrpheusCore"/>

    <alias alias="ISchema" type="OrpheusInterfaces.ISchema, OrpheusInterfaces"/>
    <alias alias="Schema" type="OrpheusCore.SchemaBuilder.Schema, OrpheusCore"/>

    <alias alias="ISchemaField" type="OrpheusInterfaces.ISchemaField, OrpheusInterfaces"/>
    <alias alias="SchemaField" type="OrpheusCore.SchemaBuilder.SchemaField, OrpheusCore"/>

    <alias alias="ISchemaObject" type="OrpheusInterfaces.ISchemaObject, OrpheusInterfaces"/>
    <alias alias="SchemaObject" type="OrpheusCore.SchemaBuilder.SchemaObject, OrpheusCore"/>

    <alias alias="ISchemaTable" type="OrpheusInterfaces.ISchemaTable, OrpheusInterfaces"/>
    <alias alias="SchemaObjectTable" type="OrpheusCore.SchemaBuilder.SchemaObjectTable, OrpheusCore"/>

    <alias alias="ISchemaView" type="OrpheusInterfaces.ISchemaView, OrpheusInterfaces"/>
    <alias alias="SchemaObjectView" type="OrpheusCore.SchemaBuilder.SchemaObjectView, OrpheusCore"/>

    <alias alias="IPrimaryKeySchemaConstraint" type="OrpheusInterfaces.IPrimaryKeySchemaConstraint, OrpheusInterfaces"/>
    <alias alias="PrimaryKeySchemaConstraint" type="OrpheusCore.SchemaBuilder.PrimaryKeySchemaConstraint, OrpheusCore"/>

    <alias alias="IForeignKeySchemaConstraint" type="OrpheusInterfaces.IForeignKeySchemaConstraint, OrpheusInterfaces"/>
    <alias alias="ForeignKeySchemaConstraint" type="OrpheusCore.SchemaBuilder.ForeignKeySchemaConstraint, OrpheusCore"/>

    <alias alias="IUniqueKeySchemaConstraint" type="OrpheusInterfaces.IUniqueKeySchemaConstraint, OrpheusInterfaces"/>
    <alias alias="UniqueKeySchemaConstraint" type="OrpheusCore.SchemaBuilder.UniqueKeySchemaConstraint, OrpheusCore"/>

    <!--DDL Helper-->
    <alias alias="IOrpheusDDLHelper" type="OrpheusInterfaces.IOrpheusDDLHelper, OrpheusInterfaces"/>
    <alias alias="OrpheusMySQLServerDDLHelper" type="OrpheusMySQLDDLHelper.OrpheusMySQLServerDDLHelper, OrpheusMySQLDDLHelper"/>

    <!--Logger-->
    <alias alias="ILogger" type="Microsoft.Extensions.Logging.ILogger, Microsoft.Extensions.Logging.Abstractions"/>
    <alias alias="OrpheusFileLogger" type="OrpheusLogger.OrpheusFileLogger, OrpheusLogger"/>

    <alias alias="IOrpheusModule" type="OrpheusInterfaces.IOrpheusModule, OrpheusInterfaces"/>
    <alias alias="OrpheusModule" type="OrpheusCore.OrpheusModule, OrpheusCore"/>

    <alias alias="IOrpheusModuleDefinition" type="OrpheusInterfaces.IOrpheusModuleDefinition, OrpheusInterfaces"/>
    <alias alias="OrpheusModuleDefinition" type="OrpheusCore.OrpheusModuleDefinition, OrpheusCore"/>

    <alias alias="IOrpheusTable" type="OrpheusInterfaces.IOrpheusTable`1, OrpheusInterfaces"/>
    <alias alias="OrpheusTable" type="OrpheusCore.OrpheusTable`1, OrpheusCore"/>

    <alias alias="IOrpheusTableKeyField" type="OrpheusInterfaces.IOrpheusTableKeyField, OrpheusInterfaces"/>
    <alias alias="OrpheusTableKeyField" type="OrpheusCore.OrpheusTableKeyField, OrpheusCore"/>

    <alias alias="IOrpheusTableOptions" type="OrpheusInterfaces.IOrpheusTableOptions, OrpheusInterfaces"/>
    <alias alias="OrpheusTableOptions" type="OrpheusCore.OrpheusTableOptions, OrpheusCore"/>


    <container>
      <register type="IDbConnection" mapTo="MySqlConnection">
        <constructor/>
      </register>
      <register type="IOrpheusDatabase" mapTo="OrpheusDatabase"></register>
      <register type="ISchemaField" mapTo="SchemaField"></register>
      <register type="ISchema" mapTo="Schema">
        <constructor>
          <param name="db"/>
          <param name="description"/>
          <param name="version"/>
          <param name="id"/>
        </constructor>
      </register>
      <register type="ISchemaTable" mapTo="SchemaObjectTable"></register>
      <register type="ISchemaView" mapTo="SchemaObjectView"></register>
      <register type="IPrimaryKeySchemaConstraint" mapTo="PrimaryKeySchemaConstraint">
        <constructor>
          <param name="schemaObject"/>
        </constructor>
      </register>
      <register type="IForeignKeySchemaConstraint" mapTo="ForeignKeySchemaConstraint">
        <constructor>
          <param name="schemaObject"/>
        </constructor>
      </register>
      <register type="IUniqueKeySchemaConstraint" mapTo="UniqueKeySchemaConstraint">
        <constructor>
          <param name="schemaObject"/>
        </constructor>
      </register>
      <register type="IOrpheusModule" mapTo="OrpheusModule">
        <constructor>
          <param name="database"/>
          <param name="definition"/>
        </constructor>
      </register>
      <register type="IOrpheusModuleDefinition" mapTo="OrpheusModuleDefinition"></register>
      <register type="IOrpheusTable[]" mapTo="OrpheusTable[]">
        <constructor>
          <param name="options"/>
        </constructor>
      </register>
      <register type="IOrpheusTableKeyField" mapTo="OrpheusTableKeyField"></register>
      <register type="IOrpheusTableOptions" mapTo="OrpheusTableOptions"></register>
      <register type="IOrpheusDDLHelper" mapTo="OrpheusMySQLServerDDLHelper"></register>
      <register type="ILogger" mapTo="OrpheusFileLogger">
        <lifetime type="ContainerControlledLifetimeManager"/>
      </register>      
    </container>
  </unity>
</configuration>