<?xml version="1.0"?>
<OrpheusConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Services>
    <ServiceProviderItem>
      <Implementation>System.Data.SqlClient.SqlConnection, System.Data.SqlClient, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a</Implementation>
      <Service>System.Data.IDbConnection, System.Data.Common, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a</Service>
      <ServiceLifeTime>Transient</ServiceLifeTime>
    </ServiceProviderItem>
    <ServiceProviderItem>
      <Implementation>OrpheusCore.OrpheusDatabase, OrpheusCore, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</Implementation>
      <Service>OrpheusInterfaces.IOrpheusDatabase, OrpheusInterfaces, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</Service>
      <ServiceLifeTime>Transient</ServiceLifeTime>
    </ServiceProviderItem>
    <ServiceProviderItem>
      <Implementation>OrpheusSQLDDLHelper.OrpheusSQLServerDDLHelper, OrpheusSQLServerDDLHelper, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</Implementation>
      <Service>OrpheusInterfaces.IOrpheusDDLHelper, OrpheusInterfaces, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</Service>
      <ServiceLifeTime>Transient</ServiceLifeTime>
    </ServiceProviderItem>
    <ServiceProviderItem>
      <Implementation>OrpheusLogger.OrpheusFileLogger, OrpheusLogger, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</Implementation>
      <Service>Microsoft.Extensions.Logging.ILogger, Microsoft.Extensions.Logging.Abstractions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60</Service>
      <ServiceLifeTime>Singleton</ServiceLifeTime>
    </ServiceProviderItem>
  </Services>
  <Logging Level="Error" MaxFileSize="1" />
</OrpheusConfiguration>